.film {
  border-radius: 0;
  border-bottom: 1px solid #2e2e2e; /* Same as the previous pages */
  padding-bottom: 5rem;
}

/* Play Button - Always a Circle */
.playBtn {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 2rem;
  font-size: 2rem;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.playBtn:hover {
  background-color: #fff;
  color: black;
}

/* Film Info */
.filmInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.film h1 {
  font-size: 3rem; /* Matching the font size from FilmographyPage */
  font-weight: 700;
}

.filmInfo p {
  font-size: 1rem;
  font-weight: 200;
  text-align: justify;
  color: #d1d1d1; /* Lighter color to match previous page text style */
}

/* Responsive adjustments */

/* Extra Small devices (up to 640px) */
@media (max-width: 640px) {
  .film {
    padding-bottom: 3rem;
  }
  .film h1 {
    font-size: 2rem;
  }
  .filmInfo p {
    font-size: 1.1rem; /* Slightly larger than before */
  }
}

/* Small to Medium devices (641px to 1024px) */
@media (min-width: 641px) and (max-width: 1024px) {
  .film {
    padding-bottom: 2rem;
  }
  .filmInfo p {
    font-size: 1.3rem;
  }
}

/* Large devices (1025px and up) */
@media (min-width: 1025px) {
  .film {
    padding-bottom: 5rem;
  }
  .filmInfo p {
    font-size: 1.6rem; /* A more consistent font size with the larger screens */
  }
}
