  .sideBar {
    background-color: #fff1f1;
    width: 10%;
  }
  .aboutFirstSection {
    position: relative; /* Needed for the overlay positioning */
    background-image: url('../../images/ema.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    padding: 10rem;
    min-height: 50rem;
    overflow: hidden; /* Ensures the overlay doesn't spill out */
  }
  
  .aboutFirstSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); /* Adjust opacity as needed */
    z-index: 1;
  }
  
  /* Make sure the text appears above the overlay */
  .aboutFirstSection h1,
  .aboutFirstSection p {
    position: relative;
    z-index: 2;
  }

  .aboutFirstSection h1{
    font-size: 5rem;
    font-weight: 700;
    color: #fff1f1;
  }
  .aboutFirstSection p {
    font-size: 2rem;
    font-weight: 300;
    color: #fff1f1;
  }
  .aboutSecondSection{
    height: fit-content;
    min-height: 50rem;
  }
  .aboutSecondSectionImg {
    width: 100%;
    object-fit: cover;
    flex: 1 1;
  }
  .aboutSecondSectionText {
    width: 100%;
    padding: 5rem;
  }
  .aboutSecondSectionText h1 {
    font-size: 2.5rem;
    color: #180404;
    font-weight: 600;
  }
  .aboutSecondSectionText p {
    font-size: 1.5rem;
    font-weight: 200;
    color: #180404;
    margin-top: 3rem;
  }